<form class="account_form" [formGroup]="loginForm" >
  <div>
    <label for="email">E-mail</label>
    <input type="text" id="email" formControlName="email">
  </div>
  <div>
    <label for="password">비밀번호</label>
    <input type="password" id="password" formControlName="password">
  </div>

  <div class="account-login_btn-group">
    <button class="btn primary display-block" type="submit">로그인</button>
    <button class="btn" type="button" (click)="linkToSignup()">회원가입</button>
  </div>
</form>
